# Лабараторная работа №1. Titanic

In [1]:
import numpy as np
import pandas as pd

## 1. Загрузить данные

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

Объединение данныx в один DataFrame.

In [3]:
df = pd.concat([train, test])
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1309 non-null   int64
 1   Survived     891 non-null    float64
 2   Pclass       1309 non-null   int64
 3   Name         1309 non-null   object
 4   Sex          1309 non-null   object
 5   Age          1046 non-null   float64
 6   SibSp        1309 non-null   int64
 7   Parch        1309 non-null   int64
 8   Ticket       1309 non-null   object
 9   Fare         1308 non-null   float64
 10  Cabin        295 non-null    object
 11  Embarked     1307 non-null   object
dtypes: float64(3), int64(4), object(5)
memory usage: 132.9+ KB

## 2. Посчитать количество женщин и мужчин

In [5]:
print(f'Мужчин на титанике :{df.Sex.value_counts().male}')
print(f'Женщин на титанике :{df.Sex.value_counts().female}')

Мужчин на титанике :843
Женщин на титанике :466

## 3. Посчитать количество пассажиров первого класса

In [6]:
print(f'Пассажиров первого класса: {df.Pclass.value_counts()[1]}')

Пассажиров первого класса: 323

## 4. Посчитать вероятность выжить

In [7]:
P_survived = train.Survived.value_counts()[1]/(train.Survived.value_counts()[0] + train.Survived.value_counts()[1])

In [8]:
print(f'Вероятность выжить при крушении титаника составляет: {P_survived}')

Вероятность выжить при крушении титаника составляет: 0.3838383838383838

## 5. Посчитать вероятность выжить, если ты пассажир первого класса (3)

In [9]:
train.groupby('Survived')['Pclass'].value_counts()

Survived  Pclass
0         3         372
          2          97
          1          80
1         1         136
          3         119
          2          87
Name: Pclass, dtype: int64

In [10]:
P_1class_surv = train.groupby('Survived')['Pclass'].value_counts()[1][1]/train['Pclass'].value_counts()[1]
print(f'Вероятность выжить для пассажира первого класса :{P_1class_surv}')

Вероятность выжить для пассажира первого класса :0.6296296296296297

## 6. Вероятность выжить мужчине и вероятность выжить женщине

In [11]:
train.groupby('Survived')['Sex'].value_counts()

Survived  Sex
0         male      468
          female     81
1         female    233
          male      109
Name: Sex, dtype: int64

In [12]:
Surv_male = train.groupby('Survived')['Sex'].value_counts()[1].male / train['Sex'].value_counts().male

In [13]:
Surv_female = train.groupby('Survived')['Sex'].value_counts()[1].female / train['Sex'].value_counts().female

In [14]:
print(f'Вероятность выжить мужчине составляет: {Surv_male}')
print(f'Вероятность выжить женщине составляет: {Surv_female}')

Вероятность выжить мужчине составляет: 0.18890814558058924
Вероятность выжить женщине составляет: 0.7420382165605095

## 7. Найти самое популярное женское имя на Титанике

Создадим DataFrame со всеми женщинами на Титанике

In [15]:
df_female = df[df.Sex == 'female']

In [16]:
import collections
names = collections.Counter()
for i in df_female.Name:
    name = i.split('.')[1].split()[0].replace('(', '').replace(')', '')
    names.setdefault(name)
    if names[name] == None:
        names[name] = 1
    else: names[name] += 1

In [17]:
print(f' На train выборке titanic самое популярное женское имя : {names.most_common(1)[0][0]} и встречается {names.most_common(1)[0][1]} раз')

 На train выборке titanic самое популярное женское имя : William и встречается 16 раз