# Лабараторная работы №3 KNeighborsRegressor
class sklearn.neighbors.KNeighborsRegressor(n_neighbors=5, *, weights='uniform', algorithm='auto', leaf_size=30, p=2, metric='minkowski', metric_params=None, n_jobs=None, **kwargs)

class sklearn.neighbors.RadiusNeighborsRegressor(radius=1.0, *, weights='uniform', algorithm='auto', leaf_size=30, p=2, metric='minkowski', metric_params=None, n_jobs=None, **kwargs)

Регрессия на основе соседей может использоваться в случаях, когда метки данных являются непрерывными, а не дискретными переменными. Метка, присвоенная точке запроса, вычисляется на основе среднего значения меток ее ближайших соседей.

scikit-learn реализует два разных соседних регрессора: KNeighborsRegressor реализует обучение на основе ближайшие соседи каждой точки запроса, где - целочисленное значение, указанное пользователем. RadiusNeighborsRegressor реализует обучение на основе соседей в фиксированном радиусе точки запроса, где  - это значение с плавающей запятой, указанное пользователем.

<p style="align: center;"><img src="https://scikit-learn.org/stable/_images/sphx_glr_plot_regression_001.png" width="400"></p>

In [137]:
#импортируем библиотеки
import pandas as pd
import numpy as np
import sklearn
import matplotlib
from matplotlib import pyplot as plt
lib = {'scikit-learn' : sklearn, 'pandas' : pd, 'numpy' : np, 'matplotlib' : matplotlib}
for i in lib:
    print(f'{i} version :{lib[i].__version__}')

scikit-learn version :0.23.2
pandas version :1.1.2
numpy version :1.19.2
matplotlib version :3.3.2

### Загрузим данные

[Скачать данные](http://www3.dsi.uminho.pt/pcortez/forestfires/).   
Или можно загрузить их из библиотеки sklearn

In [138]:
df = pd.read_csv('forestfires.csv')
df.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [139]:
df.describe()

,X,Y,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area
count,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000
mean,4.669246,4.299807,90.644681,110.872340,547.940039,9.021663,18.889168,44.288201,4.017602,0.021663,12.847292
std,2.313778,1.229900,5.520111,64.046482,248.066192,4.559477,5.806625,16.317469,1.791653,0.295959,63.655818
min,1.000000,2.000000,18.700000,1.100000,7.900000,0.000000,2.200000,15.000000,0.400000,0.000000,0.000000
25%,3.000000,4.000000,90.200000,68.600000,437.700000,6.500000,15.500000,33.000000,2.700000,0.000000,0.000000
50%,4.000000,4.000000,91.600000,108.300000,664.200000,8.400000,19.300000,42.000000,4.000000,0.000000,0.520000
75%,7.000000,5.000000,92.900000,142.400000,713.900000,10.800000,22.800000,53.000000,4.900000,0.000000,6.570000
max,9.000000,9.000000,96.200000,291.300000,860.600000,56.100000,33.300000,100.000000,9.400000,6.400000,1090.840000

In [140]:
X = df.loc[:, :'rain']
y = pd.DataFrame(df.area)

In [141]:
print(X["month"].value_counts())
print(X['day'].value_counts())

aug    184
sep    172
mar     54
jul     32
feb     20
jun     17
oct     15
dec      9
apr      9
may      2
jan      2
nov      1
Name: month, dtype: int64
sun    95
fri    85
sat    84
mon    74
tue    64
thu    61
wed    54
Name: day, dtype: int64

In [142]:
X["month"] = df.month.replace({"jan": 1, "feb":2, "mar":3, "apr":4,"may":5,"jun":6,
                               "jul":7,"aug":8,"sep":9,"oct":10,"nov":11,"dec":12,})

X['day'] = df.day.replace({'mon':1, 'tue':2, 'wed':3, 'thu':4, 'fri':5, 'sat':6, 'sun':7})

In [143]:
X.head()

   X  Y  month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain
0  7  5      3    5  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0
1  7  4     10    2  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0
2  7  4     10    6  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0
3  8  6      3    5  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2
4  8  6      3    7  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0

### KNeighborsRegressor

In [144]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

grid_params = {
    'n_neighbors': range(1,50,5),
    'weights': ['uniform', 'distance'],
    'algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute'],
    'metric': ['euclidean','manhattan', 'chebyshev', 'minkowski'],
    'n_jobs' : [-1]
    
}

gs_knn = GridSearchCV(KNeighborsRegressor(), grid_params, scoring='neg_mean_squared_error', cv=5)
gs_knn.fit(X_train, y_train)

print(f'Best score MSE : {-(gs_knn.best_score_)}')
print(f'Best parametrs : {gs_knn.best_params_}')

Best score MSE : 2097.382609521649
Best parametrs : {'algorithm': 'ball_tree', 'metric': 'manhattan', 'n_jobs': -1, 'n_neighbors': 46, 'weights': 'uniform'}

Так как weights='uniform' используются по умолчанию, то остается указать n_neighbors=46, metric='manhattan', n_jobs=-1 при обучении модели.

In [145]:
clf = KNeighborsRegressor(n_neighbors=46, algorithm='ball_tree', metric='manhattan', n_jobs=-1) 
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred)

9815.486355720515

### RadiusNeighborsRegressor

In [146]:
from sklearn.neighbors import RadiusNeighborsRegressor 

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)


grid_params = {
    'radius': range(100, 1120, 50),
    'weights': ['uniform', 'distance'],
    'algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute'],
    #'metric': ['euclidean','manhattan', 'chebyshev', 'minkowski'],
    'n_jobs' : [-1]   
}

gs_radius_knn = GridSearchCV(RadiusNeighborsRegressor(), grid_params,
                      scoring='neg_mean_squared_error',
                      cv=5)
gs_radius_knn.fit(X_train, y_train)

print(f'Best score MSE : {-(gs_knn.best_score_)}')
print(f'Best parametrs : {gs_knn.best_params_}')

Best score MSE : 2097.382609521649
Best parametrs : {'algorithm': 'ball_tree', 'metric': 'manhattan', 'n_jobs': -1, 'n_neighbors': 46, 'weights': 'uniform'}

In [147]:
clf2 = RadiusNeighborsRegressor(radius=900, weights='distance', algorithm='brute', n_jobs=-1).fit(X_train, y_train)

In [148]:
y_pred = clf2.predict(X_test)

In [149]:
mean_squared_error(y_test, y_pred)

9831.747838344641

In [150]:
y_pred

array([[10.51632607],
       [11.17266085],
       [ 9.70805317],
       [11.46566941],
       [ 8.83388232],
       [12.63882133],
       [ 7.60118198],
       [ 8.63920716],
       [12.28563756],
       [ 7.4234696 ],
       [10.66878151],
       [13.81      ],
       [10.16922609],
       [ 7.85449312],
       [10.41747849],
       [ 9.38570253],
       [ 9.56157365],
       [10.26720474],
       [ 8.08754803],
       [15.55907803],
       [ 9.1417493 ],
       [ 8.08862403],
       [ 7.61870699],
       [ 9.61517322],
       [10.97520813],
       [ 8.14800635],
       [ 9.37441081],
       [11.43884764],
       [ 9.57872751],
       [ 8.77466481],
       [11.30318908],
       [11.34321046],
       [ 9.45986305],
       [11.18127792],
       [27.31999508],
       [ 7.67686122],
       [ 6.40900005],
       [ 8.72656001],
       [13.05445023],
       [ 9.17823408],
       [ 9.28795643],
       [ 8.59919616],
       [ 8.888031  ],
       [ 8.75223435],
       [ 9.45355802],
       [ 0.        ],
       [12.16004575],
       [ 8.73355402],
       [ 8.15790928],
       [ 9.15770948],
       [ 8.97236249],
       [ 9.09401204],
       [ 8.30654426],
       [ 9.11018828],
       [ 9.97986445],
       [ 8.73717956],
       [ 7.60134602],
       [ 9.5263479 ],
       [ 9.54777117],
       [ 8.8106777 ],
       [ 8.7267673 ],
       [ 8.77748302],
       [ 0.        ],
       [11.42622718],
       [ 9.23053719],
       [11.26427694],
       [ 7.50252544],
       [11.13854298],
       [ 7.17990437],
       [ 9.0476157 ],
       [ 8.71      ],
       [ 9.35845559],
       [ 9.18938732],
       [19.81649428],
       [14.03783582],
       [ 7.01176681],
       [10.3717165 ],
       [ 8.95596125],
       [ 9.22840786],
       [ 3.71      ],
       [ 9.04332116],
       [10.08316182],
       [ 7.31370373],
       [10.29159725],
       [ 8.05700166],
       [ 9.27679394],
       [13.78731663],
       [ 8.06002412],
       [13.83062558],
       [11.5259958 ],
       [12.97127072],
       [ 9.00584692],
       [ 9.26124264],
       [ 8.85380835],
       [11.0604555 ],
       [11.52658956],
       [ 7.11289637],
       [ 9.26923666],
       [ 8.59677397],
       [12.47245192],
       [15.4599226 ],
       [ 0.        ],
       [10.31865961],
       [10.80265495],
       [ 8.79523414],
       [ 8.44854216],
       [13.24202667],
       [ 8.13554555],
       [11.20907982],
       [ 7.82247265],
       [ 8.97317901],
       [ 9.48063514],
       [ 9.16027863],
       [ 9.94173786],
       [13.90742886],
       [ 7.95759996],
       [15.00975121],
       [ 9.64351115],
       [10.58914077],
       [ 9.40613047],
       [ 9.54736786],
       [14.7917639 ],
       [ 8.53677246],
       [11.8872748 ],
       [ 9.60366907],
       [11.82143322],
       [ 8.42345742],
       [11.30257409],
       [ 7.04177455],
       [ 0.        ]])

In [ ]:
Итог выборка маленькая, разброс большой